<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Booklist</title>
</head>
<body>
	<div class="book info">
		<img src="https://covers.openlibrary.org/b/id/9255566-L.jpg">
		<h3>The Lord of the Rings</h3>
		<pre>By: J.R.R. Tolkien, Ian Holm, and more</pre>
	</div>
</body>
</html>