body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color:blanchedalmond;
    color: white;
  }

  #box1 {
    padding-left:180px
  }

  #box2 {
    padding-top:200px
  }

  .book {
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    padding: 2rem;
  }
  img {
    width: 10rem;
    margin: 0 2rem;
  }