<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" >
	<link rel="stylesheet" href="./style.css">
	<title>Credentials</title>
</head>


<body>
	<h1><%= flag ? "Wrong Password" : title %></h1>
	<form action="http://localhost:<%- portNumber %>/<%- process %>" method="post">
		<fieldset>
			<label><strong>User Name: </strong><input type="text" name="username"></label>
            <label><strong>Password: </strong><input type="text" name="password"></label>
		</fieldset>
	

		<br>
		<input type="reset" >
		<input type="submit" value="Sumbit">
	</form>
    <hr>

</body>

</html>
