<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" >
	<title>Searched Results</title>
</head>

<body>
	<h1><%- title %></h1>
	<div>
		<%- table %> 
	</div>
	<a href="/">HOME</a>
	<hr>

</body>
<!-- <script>s
	document.getElementById("add_book").addEventListener("click", function(event){
		// event.preventDefault();
		console.log("key");
	});
</script> -->

</html>
