<div class="topnav">
    <a class="active" href=<%=`${buttonName1 == "login" ? "/login" : "/booklist"}`%>> <%- buttonName1 %></a>
    <a href=<%=`${buttonName2 == "Sign up" ? "/signUp" : "/logout"}`%>><%- buttonName2 %></a>
  </div>