<div class="topnav">
    <a class="active" href=<%=`${!session.username ? "/login" : "/logout"}`%>> 
      <%- `${!session.username ? "login" : session.username}` %>
    </a>
    <a href=<%=`${!session.username ? "/signUp" : "/booklist"}`%>>
      <%- `${!session.username ? "Sign Up": "Booklist"}` %></a>
    <a href="/">HOME</a>
  </div>