<div class="topnav">
    <a class="active" href=<%=`${loggedIn ? "/login" : "/booklist"}`%>> <%- buttonName1 %></a>
    <a href=<%=`${loggedIn ? "/signUp" : "/logout"}`%>><%- buttonName2 %></a>
  </div>